@charset "UTF-8";
/*產品*/
.product_contain {
  width: 940px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1rem;
  text-align: center;
}

.list ul {
  margin-right: 10px;
}

.list ul li {
  padding: 15px 100px;
}

.list ul li:first-child {
  color: #fff;
  background: #3f5d45;
}

.list ul li:not(:first-child):hover {
  background: #eaf0ed;
}

.products_box {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.items .item {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.items .item .img_box {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.items .item .img_box img {
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 100%;
}

.items .item .img_box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.items .item .cate {
  font-size: 1rem;
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  top: 0;
  left: 0;
  letter-spacing: 3px;
  padding: 8px;
  background: #3f5d45;
  color: #fff;
  margin-left: 15px;
}

.items .item .item_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  font-size: 1.25rem;
}

.items .item .addcart {
  cursor: pointer;
  background: #eaf0ed;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px 90px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.items .item .addcart:hover {
  color: #fff;
  background: #3f5d45;
}

.navigation {
  margin: 20px 5px;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation li {
  cursor: pointer;
  border: 1px solid #eaf0ed;
  padding: 15px 25px;
  margin: 0 1px;
}

.navigation li:hover {
  background: #eaf0ed;
}

.navigation .active {
  color: #eaf0ed;
  background: #3f5d45;
}

.navigation .active:hover {
  background: #3f5d45;
}
