.success {
  width: 940px;
  height: 460px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../../img/brooke-lark-385507-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.success ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.success ul:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 20px;
  width: calc(100% - 40px);
  height: 1px;
  background: #3f5d45;
}

.success ul li {
  margin: 0px 20px;
  width: 21px;
  height: 21px;
  background: #3f5d45;
  border-radius: 50%;
  text-align: center;
}

.success ul li i {
  font-size: 1rem;
  color: #eaf0ed;
}

.success img {
  width: 190px;
}

.success a {
  display: block;
  color: #3f5d45;
  padding: 15px 100px;
  font-size: 1.5rem;
  background: #FFE180;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.success a:hover {
  background: #3f5d45;
  color: #eaf0ed;
}
